doctype
html
    head
        title Thunder Server
        meta(name='viewport', content='width=device-width, initial-scale=1, maximum-scale=1.0')
        link(href="/css/font-awesome.min.css", rel="stylesheet")
        link(href="/css/simple-line-icons.css", rel="stylesheet")
        link(href="/css/core-ui.css", rel="stylesheet")

    body
        #react-app
        script(type="text/javascript", src="/js/bundle.js")
